body {
    margin: 0 auto;
    font-size: 18px;
    font-family: 'Helvetica';
}

h1 {
    background: #C9E3FA;
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid black;
    margin: 0 auto;
    height: 100px;
}

header {
    background: #C9E3FA;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid black;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    height: 210px
}

img:hover {
    transform: scaleX(-1);
}

@keyframes NAME-YOUR-ANIMATION {
    100% {
        transform: rotate(360);
    }
}

.searching.description.card.container {
    margin: 0 auto;
    width: 100%;
}

button {
    font-size: 1.5rem;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover {
    transition: all 0.3s ease;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.test {
    animation: all 0.8s
}

.test.selectedText {
    text-decoration: underline;
}

.test:hover {
    font-weight: bold;
}

.description {
    width: 70%;
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    text-align: center;
    transition: all .5s;
    font-size: 24px;
}

#mySVG {
    margin-bottom: 100px;
}

.loading {
    font-size: 60px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 999;
    position: relative;
    width: 100%;
    height: auto;
    margin: 50px 0;
}

.js-query {
    display: block;
    margin: 20px auto;
    font-size: 24px;
    padding: 10px;
}

.description:hover~a img {
    transform: scaleX(-1);
}

.flip {
    transform: scaleX(-1);
}

.flip p,
.flip button:not(.button) {
    opacity: 0;
    display: none;
}

form {
    opacity: 0;
    transform: scaleX(-1);
}

.flip form {
    opacity: 1;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: 700px;
    padding: 3rem 3rem 3rem 3rem;
    background-color: #C9E3FA;
}

.container {
    padding: 3rem;
}

svg {
    width: 100%;
    height: 100%;
}

body * {
    box-sizing: border-box;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #C9E3FA;
    text-align: center;
    font-size: 15px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
    text-align: center;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
}

@media screen and (max-width: 750px) {
    img {
        height: 200px;
    }
}

@media screen and (max-width: 650px) {
    img {
        height: 175px;
    }
    .description.card.container {
        width: 80%;
    }
}

@media screen and (max-width: 550px) {
    img {
        height: 135px;
    }
    .description.card.container {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    img {
        height: 110px;
    }
    .description.card.container {
        padding: 2.0rem;
    }
    .button {
        font-size: 1em;
    }
    h2 {
        font-size: 1.25em;
    }
}

@media screen and (max-width: 400px) {
    img {
        height: 100px;
    }
    h2 {
        font-size: 1em;
    }
    .js-query {
        font-size: 18px;
    }
}

@media screen and (max-width: 350px) {
    img {
        height: 90px;
    }
    .description.card.container {
        padding: 1.5rem;
    }
    h2 {
        font-size: 0.85em;
    }
}

@media screen and (max-width: 320px) {
    img {
        height: 75px;
    }
    .description.card.container {
        padding: 1rem;
    }
}

.description.card.container {
    height: 400px;
}